<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
  
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #FF4B2B;
   color: white;
   text-align: center;
   height:fit-content;
}
</style>
</head>
<body>

<div class="footer">
  <div class="quote-section">
    <p class="lead">"Blood donors are like superheroes, minus the cape and with more band-aids."</p>
    <p class="quote-author">- Creator</p>
  </div>
  <p>Blood Bank Management System
      <br>
      Made In India &copy; 2024
  </p>
  

</div>

</body>
</html> 
